.scroll-stack-scroller {
  position: relative;
  width: 80vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: scroll-position;
  
}

.scroll-stack-inner {
  padding: 20vh 5rem 50rem;
  height: 800vh;
}

.scroll-stack-card-wrapper {
  position: relative;
 
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); */
  height: 28rem;
  width: 100%;
  
  padding: 3rem;
  border-radius: 40px;
  box-sizing: border-box;
  /* Improve mobile performance */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
}

.scroll-stack-end {
  width: 100%;
  height: 6px;
}
.scroll-stack-scroller::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scroolstackfromservicecomponent{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-start;
  height: 100vh; /* fill the viewport */
  overflow: hidden; /* prevent outside scroll */
  position: relative;
}
.fullservicesectiondivvsecond{
  display: flex;
 
  flex-wrap: wrap;
  
  gap: 20px;
  
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
}
