.scroll-reveal {
  margin: 120px 0;
}

.scroll-reveal-text {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 50px;
  color: rgb(4, 4, 4);
}

.word {
  display: inline-block;
  justify-content: center;
}
@media only screen and (max-width:453px){
  .scroll-reveal-text{
    font-size: 45px;
    font-weight: 500;
  }
}
