.mainpaeheadingtag{
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 40px;
    width: 830px;
    text-align: center;
    line-height: 1;
}
.sideheadingformainpagesection{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    width: 750px;
    text-align: center;
    color: rgb(66, 66, 66);
    position: relative;
    bottom: 30px;
}
.getdealbutton{
    width: 200px;
    height: 40px;
    font-family: 'Poppins';
    font-weight: 400;
    background-color: black;
    color: white;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    position: relative;
    bottom: 30px;
    transition: transform 0.5s ease;
}
.getdealbutton:hover{
        transform: scale(1.03);
        cursor: pointer;
}
.boldsectionmainpage{
    color: rgb(139, 139, 139);
}
.fullmainpagesection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    
}
.mainpagesection{
    width: 600px;
    height: 600px;
    object-fit: contain;
}
.imagefirstimage{
    position: absolute;
    top: 140px;
    left: -100px;
    width: 300px;
    height: 300px;
}
.imagesecondimage{
    position: absolute;
    top: 0px;
    left: 920px;
}

@media only screen and (max-width:453px){
    .mainpagesection{
        display: none;
    }
    .sideheadingformainpagesection{
        width: 350px;
        font-size: 13px;
    }
    .mainpaeheadingtag{
        width: 350px;
        font-size: 35px;
    }
    
    .fullmainpagesection{
        position: relative;
        bottom: 50px;
    }
    .getdealbutton{
        font-size: 17px;
        width: 130px;
        position: relative;
        
    }
    .getdealbutton{
        background-color: rgb(0, 119, 237);
        font-weight: 500;
    }

    
}