.Numbercounter{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
}
.plusandnumberdivvsection{
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
}

@media only screen and (max-width:453px){
    .Numbercounter{
        font-size: 25px;
    }
}