.nameoftheplanpriceheading{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 25px;

}
.priceoftheplaneheading{
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 24px;
    position: relative;
    bottom: 10px;

}
.tickmarkinpricingcomp{
    font-size:20px;
    color: rgb(13, 224, 13);
}
.nameoftheaccessheading{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    width: 220px;

}
.contentforaccessandtickdiv{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.headingandpricingsectioncontentdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}
.fullpricemodeldivsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 250px;
    padding: 25px;
    height: 500px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.divforaccessgivenfortheplandivv{
    position: relative;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    align-items: center;
    width: 250px;
    

}

.fullpricedetailsdivv{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}
.bookacallbuttonforpricingsection{
    width: 150px;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: transform 0.5s ease;
    
    
}
.bookacallbuttonforpricingsection:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.fullpricemodeldivsectioncenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 250px;
    padding: 25px;
    height: 500px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: rgba(97, 97, 107, 0.2) 0px 7px 29px 0px;
}
.bookacallbuttonforpricingsectioncenter{
     width: 150px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: transform 0.5s ease;
}
.bookacallbuttonforpricingsectioncenter:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.buttonforcallaction{
    position: absolute;
    top: 320px;
}
.Pricingmodelheadingforfullpricemodel{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
}
.paragraphforpricingmodelheading{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: rgb(62, 61, 61);
    width: 600px;
    text-align: center;
    position: relative;
    bottom: 30px;
}
.mainpagefullpricesectiondivv{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 120px;
}
.fullpricedetailsdivv{
    position: relative;
    bottom: 120px;
}