.review-card {
  position: relative;
  width: 300px;
  height: 180px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: black;
  color: white;
  
}




.review-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  
}

.review-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.review-user-info {
  display: flex;
  flex-direction: column;
}

.review-name {
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 800;
 
}



.review-body {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  

  position: relative;
  bottom: 20px;
  left: 13px;
}
.review-card:hover{
  color: black;
  background-color: white;
  border: 1px solid black;
}

.marquee-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.75rem;
 
  padding: 5rem 0;
}

.marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 10px;
}

.marquee-content {
  display: flex;
  gap: 10px;
  animation: marquee-scroll 20s linear infinite;
}

.marquee-reverse .marquee-content {
  animation: marquee-scroll-reverse 20s linear infinite;
}

.marquee-pause-hover:hover .marquee-content {
  animation-play-state: paused;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-scroll-reverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.marquee-gradient-left,
.marquee-gradient-right {
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  width: 33.333%;
  z-index: 10;
}

@media (prefers-color-scheme: dark) {
  .review-card {
    border-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(1, 1, 1, 0.991);
  }

  .review-card:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }



  .review-username {
    color: rgba(255, 255, 255, 0.4);
  }

  


}
.starfontfortestimonial{
  font-size: 14px;
  color: gold;
}
.starsection{
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: relative;
  bottom: 30px;
  left: 50px;
}

@media only screen and (max-width:453px){
  .marquee-container{
    position: relative;
    bottom: 120px;
  }
}