@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.Logoheading{
    font-family: "Poppins";
    font-weight: 700;
    font-size: 20px;
}
.siderouteheadingg{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.siderouteheadingg:hover{
    transform: scale(1.03);
}
.logoforheadset{
    font-size: 20px;
}
.fullheadersection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 600px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(79, 79, 79);
    color: rgb(255, 255, 255);
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 0px;
    border-radius: 90px;
}
.routesectionheader{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    transition: transform 0.5s;

}
