.curved-loop-jacket {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  bottom: 60px;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 6rem;
  fill: #000000;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
.custom-text-style{
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 110px;
}

@media only screen and (max-width:453px){
  .custom-text-style{
    font-size: 150px;
  }
  .curved-loop-jacket{
    position: relative;
    bottom: 400px;
  }
}
